# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Gamegine.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Flavia\RiderProjects\Gamengine\.idea\.idea.Gamegine\.idea/dataSources/
/dataSources.local.xml
